*{
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  font-family: "Quicksand", "sans-serif";
  background-color: rgb(51, 136, 192);
}
body{
  height: 100%;
}

.clear{
  clear: both ;
}

.container{
  width: 90%;
  margin: 0 auto;
}

.container .contact-box .left{
  width: 627px;
  height: 500px;
  background-image: url(../imagens/email.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  margin-top:60px;
  float: left;
}

.container .contact-box .right h2{
  background-color: white;
}

.container .contact-box .right{
  padding: 30px;
  width: 500px;
  height: 500px;
  position: absolute;
  right: 10%;
  top: 60px;
  text-align: center;
  background-color: white;
}

.container .contact-box .right input, .container .contact-box .right textarea{
  width: 90%;
  margin: 10px 0;
  height: 35px;
  border: 1px solid #ccc;
  border-radius: 12px;
  padding-left: 10px;
  line-height: 35px;
  background-color: transparent;
}

.container .contact-box .right button{
  width: 90%;
  height: 35px;
  border-radius: 12px;
  border: 1px solid #ccc;
}
